extends layout

block content
  each post in posts
    p
      h2
        a(href='#')= post.title
    p.info
      | 作者：
      a(href='#')= post.name
      | | 日期：#{post.createTime.minute}
    p!= post.content